/* Custom styles for the site */

/* Carousel adjustments */
.carousel {
    position: relative;
    z-index: 1;
    /* Ensures carousel is below the navbar */
}


/* Default styles for large screens */
.carousel-item {
    min-height: 700px; /* Sets minimum height for large screens */
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 700px; /* Ensures images cover the carousel */
}

/* Adjustments for medium screens */
@media (max-width: 768px) {
    .carousel-item,
    .carousel-item img {
        min-height: 40000px; /* Adjusts min-height for medium screens */
    }
}

/* Adjustments for small screens */
@media (max-width: 480px) {
    .carousel-item,
    .carousel-item img {
        min-height: 100px; /* Adjusts min-height for small screens */
    }
}





/* Default styles for large screens */
.carousel-item {
    min-height: 700px; /* Sets minimum height for large screens */
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 700px; /* Ensures images cover the carousel */
}

/* Adjustments for medium screens */
@media (max-width: 768px) {
    .carousel-item,
    .carousel-item img {
        min-height: 500px; /* Adjusts min-height for medium screens */
    }
}

/* Adjustments for small screens */
@media (max-width: 480px) {
    .carousel-item,
    .carousel-item img {
        min-height: 300px; /* Adjusts min-height for small screens */
    }
}





/* Header and containers */
header,
.container-fluid {
     
    margin: 0 !important;
    /* Ensures no extra space around header and containers */
}

/* Background color adjustments */
.bg-dark {
    background-color: rgba(0, 0, 0, 0.2);
    /* Light black for backgrounds, adjust opacity as needed */
}


#mainNav {
    opacity: 99%;
    /* Adjust this value for desired translucency */
}


/* Responsive adjustments for the carousel */
.card .btn-primary {
   
    width: 100%; /* Makes the button stretch to the full width of its parent */
    box-sizing: border-box; /* Ensures padding and border are included in the width calculation */
    bottom: 10px; /* Adjust this value as needed */
}

/* Include Google Fonts */
/* Include Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* Define custom font-face if you have the Pixelade font files */
@font-face {
    font-family: 'Pixelade';
    src: url('path/to/Pixelade.woff2') format('woff2'),
         url('path/to/Pixelade.woff') format('woff'); /* Adjust the path to where your font files are hosted */
}

/* Applying styles to headings */
h1, h2, h3, h4, h5, h6, p, .accordion-body, .card-text{ 
    margin: 10px 0;
}

h1 { font-family: 'Press Start 2P', monospace; font-size: 32px; }
h2 { font-family: 'VT323', monospace; font-size: 28px; font-weight: bold; }
h3 { font-family: 'Pixelade'; font-size: 24px; }
h4 { font-family: 'Press Start 2P', monospace; font-size: 20px; }
h5 { font-family: 'VT323', monospace; font-size: 18px; }
h6 { font-family: 'VT323', monospace; font-size: 11px; font-style: italic; color: #35393e; } /* Smaller, italic, and blue */
p { font-family: 'Press Start 2P', monospace; font-size: 14px; }

.accordion-body { font-family: 'VT323', monospace; font-size: 14px;  } 

/* Google Fonts inclusion for Roboto Mono */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');

/* Applying styles to the navbar */
.navbar {
    font-family: 'Roboto Mono', monospace; /* Apply the Roboto Mono font to the navbar */
    font-size: 16px; /* Adjust size as needed */
    color: #ffffff; /* Ensuring the text is white for readability */
    background-color: #333333; /* Sets a darker gray background for contrast */
}

/* Style adjustments for links and text within the navbar */
.nav-link, .navbar-brand, .navbar-text {
    letter-spacing: 0.5px; /* Moderate letter spacing for better readability */
    text-transform: uppercase; /* Optional: makes text all uppercase for stylistic consistency */
    padding: 10px 15px; /* Adjust padding for better spacing and alignment */
}

/* Ensuring that the navbar is fixed at the top */
.navbar-fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030; /* Ensures the navbar stays above other content */
}

/* Styling for active navigation link */
.nav-link.active, .nav-item:hover .nav-link {
    color: #00aff0; /* Changes color to a light blue when active or on hover */
    background-color: #222222; /* Darker background for hovered items */
}

/* Responsive adjustments for navbar collapse on smaller screens */
@media (max-width: 992px) {
    .navbar-collapse {
        background-color: #333; /* Ensures collapsed menu has a dark gray background */
    }

    .navbar-toggler {
        border-color: #fff; /* White border for the toggle button */
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 0.75)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* Custom SVG for the toggler icon */
    }
}


.responsive-iframe {
    width: 100%; /* Full width */
    height: 450px; /* Set height, adjust as necessary */
    border: 0; /* Removes default iframe border */
    
}
